@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
	font-size: 48px;
}

aside { width: 25%;
	float: left;
	
}

footer {

}

header {

}

p{width: 60%;
	font-size: 24px;

}

img {
	max-width: 100%;
}

main { float: left;
	width: 60%;
	height: 50%;

}

nav { width: 15%;
	float: left;

}

#copyright {
	font-size: 80%;
}

#main-container {

}