@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
	
}

aside { width: 20%;
	float: left;
	margin-right: 20px;
	position: relative;
	bottom:10px;
	font-size: 24px;
	margin-left: 10px;
	
}

footer {clear: both;
	padding-top: 40px;

}

header {font-size: 24px;

}


img {
	max-width: 75%;
}

main { float: left;
	width: 50%;
	height: 50%;
	font-size: 24px;
	position: relative;
	bottom:0px


}

nav { width: 15%;
	float: left;
	font-size: 24px;

}

#copyright {
	font-size: 18px;
}

#main-container {
	position: relative;
	top:10px
	

}